<!DOCTYPE html>
<html ng-app="Paradise-Island-App">
<head>
  <title>Paradise Island</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Yeseva+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag  src="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" %>
</head>
<body>

  <div class="wrapper">
    <div class="header row">
      <h1>PARADISE ISLAND</h1>
    </div>
    <div class="subhead row">
      <h2>NEWSLETTER LIST</h2>
    </div>
    <div class="body row">
        <%= yield %>
    </div>
    <div class="footer row">
      |  <span class="pink">PARADISE ISLAND API</span>  |
    </div>
  </div>

</body>
</html>
